.holiday-widget{

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.25);

    border-radius:18px;

    padding:25px;

    color:white;

}

.holiday-widget h2{

    margin-bottom:25px;

    font-size:22px;

}

.holiday{

    padding:15px 0;

    border-bottom:1px solid rgba(255,255,255,.15);

}

.holiday:last-child{

    border-bottom:none;

}

.holiday h3{

    margin-bottom:5px;

}