:root {

    /* ===========================
       Primary Theme
    ============================ */

    --primary: #6366F1;
    --primary-dark: #4F46E5;
    --secondary: #8B5CF6;

    /* ===========================
       Gradient
    ============================ */

    --gradient: linear-gradient(
        135deg,
        #4F46E5,
        #6366F1,
        #7C3AED
    );

    /* ===========================
       Background
    ============================ */

    --background: #F4F7FE;

    /* ===========================
       Glass
    ============================ */

    --glass: rgba(255,255,255,0.22);

    --glass-border: rgba(255,255,255,0.35);

    --blur: blur(18px);

    /* ===========================
       Text
    ============================ */

    --text-dark: #1E293B;

    --text-light: #64748B;

    --white: #FFFFFF;

    /* ===========================
       Cards
    ============================ */

    --card-shadow:
        0 10px 30px rgba(0,0,0,.08);

    --card-radius:18px;

    /* ===========================
       Buttons
    ============================ */

    --button-radius:12px;

    /* ===========================
       Sidebar
    ============================ */

    --sidebar-width:260px;

}